<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Web Design Mastery | furni.shop</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#" class="logo">furni.shop</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#product">Products</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="nav__search" id="nav-search">
        <input type="text" placeholder="Search" />
        <span><i class="ri-search-2-line"></i></span>
      </div>
    </nav>

    <header class="section__container header__container" id="home">
      <div class="header__image">
        <img src="/img/header.jpg" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <h1>We Help You Make Modern Interior</h1>
          <p>
            We will help you to make an elegant and luxurious interior designed
            by professional interior designer.
          </p>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section class="section__container about__container" id="about">
      <h2 class="section__header">About Us</h2>
      <p class="section__description">
        Discover the story behind furni.shop and our passion for creating beautiful, functional living spaces.
      </p>
      <div class="about__content">
        <div class="about__image">
          <img src="/img/about.png" alt="About Us" />
        </div>
        <div class="about__details">
          <h3>Our Mission</h3>
          <p>
            At furni.shop, we believe that everyone deserves a home that reflects their style and personality. Our mission is to provide high-quality, affordable furniture that combines elegance and practicality, designed by expert interior designers to transform your living spaces.
          </p>
          <ul class="about__points">
            <li><i class="ri-checkbox-circle-line"></i> High-quality materials</li>
            <li><i class="ri-checkbox-circle-line"></i> Affordable pricing</li>
            <li><i class="ri-checkbox-circle-line"></i> Expert design consultation</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section__container product__container" id="product">
      <h1 class="section__header">Products</h1>
      <div class="product__grid">
        <% products.forEach(product => { %>
          <div class="product__card">
            <h2><%= convertToUppercase(product.title) %></h2>
            <% if(showDiscount(product.discount) > 0) { %>
              <h4 style="color: red;">Discount: <%= product.discount %>%</h4>
              <p>$<%= calculateNewPrice(product.price, product.discount) %></p>
              <p  class="discount-amount">  You Saved : <%= getDiscountAmount(product.price, product.discount) %> EGP !!!</p>
                          
            <% } else { %>
              <h4>$<%= product.price %></h4>
            <% } %>
            <img src="<%= product.image %>" alt="product" />
          </div>
        <% }) %>
      </div>
    </section>

    <section class="section__container client__container">
      <div class="client__content">
        <h2 class="section__header">What our happy client say</h2>
        <p class="section__description">
          Testimonials Highlighting Our Commitment to Quality, Exceptional
          Service, and Customer Satisfaction
        </p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="client__card">
                <img src="/img/user-1.jpg" alt="user" />
                <div>
                  <p>
                    Furni.shop transformed my living space with their beautiful
                    and affordable furniture. The 5% cashback was a delightful
                    bonus!
                  </p>
                  <h4>David Miller</h4>
                  <h5>Real Estate Agent</h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="client__card">
                <img src="/img/user-2.jpg" alt="user" />
                <div>
                  <p>
                    Exceptional quality and service! The furniture is stunning,
                    and the 30-day payment terms made it incredibly convenient.
                  </p>
                  <h4>Sarah Thompson</h4>
                  <h5>Interior Designer</h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="client__card">
                <img src="/img/user-3.jpg" alt="user" />
                <div>
                  <p>
                    The 30-day terms made it easy for us to furnish our new home
                    without financial stress. Highly recommended!
                  </p>
                  <h4>Michael Lee</h4>
                  <h5>Entrepreneur</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer" id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#" class="logo">furni.shop</a>
          </div>
          <p>
            Join us in transforming your living spaces with furniture that
            blends elegance and practicality seamlessly.
          </p>
          <ul class="footer__socials">
            <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
            <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
            <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
            <li><a href="#"><i class="ri-pinterest-fill"></i></a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Services</h4>
          <ul class="footer__links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Payrol</a></li>
            <li><a href="#">Library</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help Center</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Resources</h4>
          <ul class="footer__links">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact Support</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Support</h4>
          <ul class="footer__links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Cancelation Policy</a></li>
            <li><a href="#">Security</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 Web Design Mastery. All rights reserved.
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const menuBtn = document.getElementById("menu-btn");
      const navLinks = document.getElementById("nav-links");
      const menuBtnIcon = menuBtn.querySelector("i");

      menuBtn.addEventListener("click", () => {
        navLinks.classList.toggle("open");
        const isOpen = navLinks.classList.contains("open");
        menuBtnIcon.setAttribute("class", isOpen ? "ri-close-line" : "ri-menu-line");
      });

      navLinks.addEventListener("click", () => {
        navLinks.classList.remove("open");
        menuBtnIcon.setAttribute("class", "ri-menu-line");
      });

      const navSearch = document.getElementById("nav-search");
      navSearch.addEventListener("click", () => {
        navSearch.classList.toggle("open");
      });

      const scrollRevealOption = {
        distance: "50px",
        origin: "bottom",
        duration: 1000,
      };

      ScrollReveal().reveal(".header__image img", {
        ...scrollRevealOption,
        origin: "right",
      });
      ScrollReveal().reveal(".header__content div", {
        duration: 1000,
        delay: 500,
      });
      ScrollReveal().reveal(".header__content h1", {
        ...scrollRevealOption,
        delay: 1000,
      });
      ScrollReveal().reveal(".header__content p", {
        ...scrollRevealOption,
        delay: 1500,
      });
      ScrollReveal().reveal(".about__image img", {
        ...scrollRevealOption,
        origin: "left",
      });
      ScrollReveal().reveal(".about__details", {
        ...scrollRevealOption,
        origin: "right",
        delay: 500,
      });
      ScrollReveal().reveal(".about__points li", {
        ...scrollRevealOption,
        interval: 200,
        delay: 700,
      });
      ScrollReveal().reveal(".product__card", {
        ...scrollRevealOption,
        interval: 500,
      });

      const swiper = new Swiper(".swiper", {
        loop: true,
      });
    </script>
  </body>
</html>